
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #ef6603;
  text-decoration: none;
}

.bt2{
 white-space:nowrap !important;
    position: absolute!important;
   top: 41%!important;
    width: 170px!important;
    height: 40px!important;
    left: 59%!important;
    transform: translate(-50%,-50%)!important;
}

.main-btn{    display: flex;
    position: relative;
left: -58px;
grid-gap:20px;}

.bts{padding: 10px 27px !important;font-weight: 600 !important;
    width: 194px!important;
    color: #000 !important;font-size:14px !important;
	line-height:8px !important;
}
.bts:hover{
    color: #fff!important;
    background-color: #10ac84!important;
    text-shadow: none !important;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.2)!important;
}
.bts:before{
    content: "";
    background: #fff;
    height: 100px;
    width: 50px;
    transform: rotate(20deg);
    position: absolute;
    top: -30px;
    left: -80px;
    transition: all 0.4s;
}

.btn{
color: #000;
    background-color: rgb(255, 204, 33);
   line-height:12px;
    font-size: 15px;
    font-weight: 600;
    width: 105px;
    height: 38px;
    
    letter-spacing: 1px;
    padding: 13px 25px;
    border: none;
    border-radius: 17px;
    overflow: hidden;
    position: relative;
    transition: all 0.5s;

}
.btn:hover{
    color: #fff;
    background-color: #10ac84;
    text-shadow: 0 0 3px #333;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
}
.btn:before{
    content: "";
    background: #fff;
    height: 100px;
    width: 50px;
    transform: rotate(20deg);
    position: absolute;
    top: -30px;
    left: -80px;
    transition: all 0.4s;
}
.btn:hover:before{ left: 150px; }
.btn.red:hover{ background-color: #ee5253; }
.btn.blue:hover{ background-color: #2e86de; }
.btn.pink:hover{ background-color: #f368e0; }
@media only screen and (max-width: 767px){
    .btn{ margin-bottom: 20px; }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #ffcc21;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #fc7c1f;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 70px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  background: rgba(42, 44, 57, 0.9);
}
#header.header-transparent {
  background: transparent;
}
#header.header-scrolled {
  background: #861887;
}
#header .logo h1 {
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
}
#header .logo h1 a, #header .logo h1 a:hover {
  color: #fff;
  text-decoration: none;
}
#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px 7px 15px;
  margin-left: 5px;    word-spacing:5px;
      font-size: 15px;
   font-weight: 500;
   text-transform:uppercase;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;

}
.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color:#ffcc21;
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 5px;
  top: calc(100% + 30px);
  margin: 5px 0 0 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 15px;
}
.navbar .dropdown ul li {
  min-width: 200px;
}
.navbar .dropdown ul a {
  padding: 10px 20px;
  color: #2a2c39;
  margin: 0 5px;
  font-size: 14px;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: #fff;
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(20, 21, 28, 0.9);
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a, .navbar-mobile a:focus {
  padding: 10px 20px;
  margin: 5px;
  font-size: 15px;
  color: #2a2c39;
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #fff;
}
.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
  margin: 15px;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #fff;
}
.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  background-position:center center;
  position: relative;
  height:665px;
  background-image:url(https://ujjawaldhwaj.000webhostapp.com/bnn.jpg);
  padding: 0;
  background-repeat:no-repeat;
  background-size:cover;
}
#hero .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  height: 70vh;
  padding-top: 60px;
}
#hero h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 700;
}
#hero p {
  width: 80%;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  margin: 0 auto 30px auto;
  color: #fff;
}
#hero .carousel-control-prev, #hero .carousel-control-next {
  width: 10%;
}
#hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
  background: none;
  font-size: 48px;
  line-height: 1;
  width: auto;
  height: auto;
}
#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 2px solid #ef6603;
}
#hero .btn-get-started:hover {
  background: #ef6603;
  color: #fff;
  text-decoration: none;
}
@media (min-width: 1024px) {
  #hero p {
    width: 60%;
  }
  #hero .carousel-control-prev, #hero .carousel-control-next {
    width: 5%;
  }
}
@media (max-width: 768px) {
  #hero .carousel-container {
    height: 90vh;
  }
  #hero h2 {
    font-size: 28px;
  }
}

.hero-waves {
  display: block;
  width: 100%;
  height: 60px;
  position: relative;
}

.wave1 use {
  -webkit-animation: move-forever1 10s linear infinite;
  animation: move-forever1 10s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

.wave2 use {
  -webkit-animation: move-forever2 8s linear infinite;
  animation: move-forever2 8s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

.wave3 use {
  -webkit-animation: move-forever3 6s linear infinite;
  animation: move-forever3 6s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

@-webkit-keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}

@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}
@-webkit-keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@-webkit-keyframes move-forever3 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@keyframes move-forever3 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  padding-bottom: 40px;
}
.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffcc21;
  font-family: "Poppins", sans-serif;
}
.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #fd9042;
  margin: 4px 10px;
}
.section-title p {
  margin: 0;
  margin: 0;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #3b383b;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about {
  padding-top: 80px;
}
.about .content h3 {
  font-weight: 600;
  font-size: 26px;
}
.about .content ul {
  list-style: none;
  padding: 0;
}
.about .content ul li {
  padding-left: 28px;
  position: relative;
}
.about .content ul li + li {
  margin-top: 10px;
}
.about .content ul i {
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 20px;
  color: #ef6603;
  line-height: 1;
}
.about .content p:last-child {
  margin-bottom: 0;
}
.about .content .btn-learn-more {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 5px;
  transition: 0.3s;
  line-height: 1;
  color: #ef6603;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  margin-top: 6px;
  border: 2px solid #ef6603;
}
.about .content .btn-learn-more:hover {
  background: #ef6603;
  color: #fff;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
.features .nav-tabs {
  border: 0;
}
.features .nav-link {
  border: 1px solid #000;
  padding: 15px;
  transition: 0.3s;
  color: #2a2c39;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.features .nav-link i {
  padding-right: 15px;
  font-size: 48px;
}
.features .nav-link h4 {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}
.features .nav-link:hover {
  color: #ef6603;
}
.features .nav-link.active {
  background: #ffcc21;
  color: #fff;
  border-color: #ffcc21;
}
@media (max-width: 768px) {
  .features .nav-link i {
    padding: 0;
    line-height: 1;
    font-size: 36px;
  }
}
@media (max-width: 575px) {
  .features .nav-link {
    padding: 15px;
  }
  .features .nav-link i {
    font-size: 24px;
  }
}
.features .tab-content {
  margin-top: 30px;
}
.features .tab-pane h3 {
  font-weight: 600;
  font-size: 26px;
}
.features .tab-pane ul {
  list-style: none;
  padding: 0;
}
.features .tab-pane ul li {
  padding-bottom: 10px;
}
.features .tab-pane ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #ffcc21;
}
.features .tab-pane p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
.cta {height:100%;height:300px;
  background-image:url(https://ujjawaldhwaj.000webhostapp.com/backg.jpg);
  padding: 80px 0;
}
.cta h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}
.cta p {
  color: #fff;
}
.cta .cta-btn {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 30px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  color: #fff;
  background: #ffcc21;
}
.cta .cta-btn:hover {
  background: #fff;
  color: #ef6603;
}
@media (max-width: 1024px) {
  .cta {
    background-attachment: scroll;
  }
}
@media (min-width: 769px) {
  .cta .cta-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
 background-image: url(images/text.jpg);
  box-shadow: 0 2px 29px 0 rgba(68, 88, 144, 0.12);
  transition: all 0.4s ease-in-out;
  width: 100%;
  height: 100%;
}
.services .icon-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 35px 0 rgba(68, 88, 144, 0.2);
}
.services .icon {
  position: absolute;
  left: -39px;
  top: calc(50% - 30px);
}
.services .icon i {
  font-size: 64px;
  line-height: 1;
  transition: 0.5s;
}
.services .title {
  margin-left: 40px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}
.services .title a {
  color: #fff;
  transition: ease-in-out 0.3s;
}
.services .title a:hover {
  color: #ef6603;
}
.services .description {color:#eee6e6;
  font-size: 14px;
  margin-left: 40px;
  line-height: 35px;
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio #portfolio-flters {
  list-style: none;
  margin-bottom: 20px;
}
.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  margin: 0 0 10px 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  color: #444444;
  transition: all 0.3s ease-in-out;
}
.portfolio #portfolio-flters li::before {
  content: "[";
  margin-right: 6px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
}
.portfolio #portfolio-flters li::after {
  content: "]";
  margin-left: 6px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
}
.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
  color: #ffcc21;
}
.portfolio #portfolio-flters li.filter-active::before, .portfolio #portfolio-flters li.filter-active::after {
  color: #ef6603;
}
.portfolio .portfolio-item {
  margin-bottom: 30px;
}
.portfolio .portfolio-item .portfolio-img {
  overflow: hidden;
}
.portfolio .portfolio-item .portfolio-img img {
  transition: all 0.8s ease-in-out;
}
.portfolio .portfolio-item .portfolio-info {
  opacity: 0;
  position: absolute;
  left: 15px;
  bottom: 0;
  z-index: 3;
  right: 15px;
  transition: all ease-in-out 0.3s;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 15px;
}
.portfolio .portfolio-item .portfolio-info h4 {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  color: #fff;
  margin-bottom: 0px;
}
.portfolio .portfolio-item .portfolio-info p {
  color: #fedac0;
  font-size: 14px;
  margin-bottom: 0;
}
.portfolio .portfolio-item .portfolio-info .preview-link, .portfolio .portfolio-item .portfolio-info .details-link {
  position: absolute;
  right: 40px;
  font-size: 24px;
  top: calc(50% - 18px);
  color: #fff;
  transition: 0.3s;
}
.portfolio .portfolio-item .portfolio-info .preview-link:hover, .portfolio .portfolio-item .portfolio-info .details-link:hover {
  color: #fd9f5b;
}
.portfolio .portfolio-item .portfolio-info .details-link {
  right: 10px;
}
.portfolio .portfolio-item .portfolio-links {
  opacity: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 3;
  position: absolute;
  transition: all ease-in-out 0.3s;
}
.portfolio .portfolio-item .portfolio-links a {
  color: #fff;
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}
.portfolio .portfolio-item .portfolio-links a:hover {
  color: #fd9f5b;
}
.portfolio .portfolio-item:hover .portfolio-img img {
  transform: scale(1.2);
}
.portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
}

h4:hover{color:#000;}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}
.portfolio-details .portfolio-details-slider img {
  width: 100%;
}
.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #ef6603;
}
.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ef6603;
}
.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(42, 44, 57, 0.08);
}
.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}
.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}
.portfolio-details .portfolio-description {
  padding-top: 30px;
}
.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}
.portfolio-details .portfolio-description p {
  padding: 0;
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .testimonials-carousel, .testimonials .testimonials-slider {
  overflow: hidden;
}
.testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 30px 30px 0 30px;
  margin: 30px 15px;
  text-align: center;
  min-height: 350px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  border: 10px solid #c7eafd;
  border-image: -webkit-linear-gradient(to left, #7ee8fa 0%, #eec0c6 100%);
	border-image: -moz-linear-gradient(to left #7ee8fa 0%, #eec0c6 100%);
	border-image: -o-linear-gradient(to left, #7ee8fa 0%, #eec0c6 100%);
	border-image: linear-gradient(to left, #7ee8fa 0%, #eec0c6 100%);
	border-image-slice: 1;
}
.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50%;
  border: 4px solid #fff;
  margin: 0 auto;
}
.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}
.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}
.testimonials .testimonial-item .quote-icon-left, .testimonials .testimonial-item .quote-icon-right {
  color: #ffcc21;
  font-size: 26px;
}
.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}
.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}
.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
}
.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #ffcc21;
}
.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ffcc21;
}

/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
.pricing .box {
  padding: 20px;
  background: #fff;
  text-align: center;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.pricing h3 {
  font-weight: 400;
  margin: -20px -20px 25px -20px;
  padding: 30px 15px;
  font-size: 18px;
  font-weight: 600;
  color: #777777;
  background: #f8f8f8;
}
.pricing h4 {
  font-size: 36px;
  color: #ef6603;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}
.pricing h4 sup {
  font-size: 20px;
  top: -15px;
  left: -3px;
}
.pricing h4 span {
  color: #bababa;
  font-size: 16px;
  font-weight: 300;
}
.pricing ul {
  padding: 0;
  list-style: none;
  color: #444444;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}
.pricing ul li {
  padding-bottom: 16px;
}
.pricing ul i {
  color: #ef6603;
  font-size: 18px;
  padding-right: 4px;
}
.pricing ul .na {
  color: #ccc;
  text-decoration: line-through;
}
.pricing .btn-wrap {
  margin: 20px -20px -20px -20px;
  padding: 20px 15px;
  background: #f8f8f8;
  text-align: center;
}
.pricing .btn-buy {
  background: #ef6603;
  display: inline-block;
  padding: 8px 35px 10px 35px;
  border-radius: 50px;
  color: #fff;
  transition: none;
  font-size: 14px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  transition: 0.3s;
}
.pricing .btn-buy:hover {
  background: #fc8129;
}
.pricing .featured {
  border: 2px solid #ef6603;
}
.pricing .featured h3 {
  color: #fff;
  background: #ef6603;
}
.pricing .advanced {
  width: 200px;
  position: absolute;
  top: 18px;
  right: -68px;
  transform: rotate(45deg);
  z-index: 1;
  font-size: 14px;
  padding: 1px 0 3px 0;
  background: #ef6603;
  color: #fff;
}

/*--------------------------------------------------------------
# F.A.Q
--------------------------------------------------------------*/
.faq {
  padding: 60px 0;
}
.faq .faq-list {
  padding: 0;
  list-style: none;
}
.faq .faq-list li {
  border-bottom: 1px solid #ececf1;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.faq .faq-list .question {
  display: block;
  position: relative;
  font-family: #ef6603;
  font-size: 17px;
  line-height: 24px;
  font-weight: 400;
  padding-left: 25px;
  cursor: pointer;
  color: #ffcc21;
  transition: 0.3s;
}
.faq .faq-list i {
  font-size: 16px;
  position: absolute;
  left: 0;
  top: -2px;
}
.faq .faq-list p {
  margin-bottom: 0;color:#fff;
  padding: 10px 0 0 25px;
}
.faq .faq-list .icon-show {
  display: none;
}
.faq .faq-list .collapsed {
  color: #fff;
}
.faq .faq-list .collapsed:hover {
  color: #ffcc21;
}
.faq .faq-list .collapsed .icon-show {
  display: inline-block;
  transition: 0.6s;
}
.faq .faq-list .collapsed .icon-close {
  display: none;
  transition: 0.6s;
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team {
  background: #fff;
  padding: 60px 0;
}
.team .member {
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
.team .member .member-img {
  position: relative;
  overflow: hidden;
}
.team .member .social {
  position: absolute;
  left: 0;
  bottom: 30px;
  right: 0;
  opacity: 0;
  transition: ease-in-out 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team .member .social a {
  transition: color 0.3s;
  margin: 0 3px;
  border-radius: 50px;
  width: 36px;
  height: 36px;
  background: rgba(239, 102, 3, 0.8);
  transition: ease-in-out 0.3s;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.team .member .social a:hover {
  background: #fc8129;
}
.team .member .social i {
  font-size: 18px;
  line-height: 0;
}
.team .member .member-info {
  padding: 25px 15px;
}
.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: #2a2c39;
}
.team .member .member-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #aaaaaa;
}
.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #777777;
}
.team .member:hover .social {
  opacity: 1;
  bottom: 15px;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  width: 100%;
  background: #fff;
}
.contact .info i {
  font-size: 20px;
  color: #ef6603;
  float: left;
  width: 44px;
  height: 44px;
  background: #ffecde;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #2a2c39;
}
.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #555974;
}
.contact .info .email, .contact .info .phone {
  margin-top: 40px;
}
.contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
  background: #ef6603;
  color: #fff;
}
.contact .php-email-form {
  width: 100%;
  background: #fff;
}
.contact .php-email-form .form-group {
  padding-bottom: 8px;
}
.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}
.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}
.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}
.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}
.contact .php-email-form input {
  height: 44px;
}
.contact .php-email-form textarea {
  padding: 10px 12px;
}
.contact .php-email-form button[type=submit] {
  background: #ef6603;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}
.contact .php-email-form button[type=submit]:hover {
  background: #fc8129;
}
@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  margin-top: 70px;
  background: #f7f8f9;
  min-height: 40px;
}
.breadcrumbs h2 {
  font-size: 28px;
  font-weight: 400;
  margin: 0;
}
.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}
@media (max-width: 992px) {
  .breadcrumbs ol {
    margin-top: 10px;
  }
}
.breadcrumbs ol li + li {
  padding-left: 10px;
}
.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #404356;
  content: "/";
}
@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs ol {
    display: block;
  }
  .breadcrumbs ol li {
    display: inline-block;
  }
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: #fff;
  font-size: 14px;
  background: rgb(94 13 95);
}

.ud{width: 74px;
    height: 36px;
    border-radius: 6px;}
	
.us{width:234px;}
.foot-img{display:flex;list-style-type:none;grid-gap: 20px;margin-left:-42px;margin-top:10px;}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #861887;
}


#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h4 {
  font-size: 22px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #fff;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;    margin-left: 9px;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #fff;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  white-space:nowrap;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #cddc39;
}

#footer .footer-newsletter {
  font-size: 15px;
}

#footer .footer-newsletter h4 {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  position: relative;margin-left: 28px;
  padding-bottom: 12px;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  text-align: left;
  border: 1px solid #e4e3e6;
}

#footer .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #009970;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type="submit"]:hover {
  background: #00664b;
}

#footer .credits {
  padding-top: 5px;
  font-size: 13px;
  color: #444444;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background:#ffcc21;
  color: #000;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background:#cddc39;
  color: #fff;
  text-decoration: none;
}
.back-to-top i {

background: rgb(255, 204, 33) !important;}
p{text-align:justify;}

.sec-img{width:500px;height:300px;    margin-left: -47px;}

.uds {
  width: 65px;
  margin-top: 34px;
  border-radius: 17px;
}


.bx {
    font-family: boxicons!important;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
line-height: 1.2;}

.social-links{margin-left: 300px;    white-space: nowrap;}

.fa-arrow-up{    position: relative;
    top: 11px;
    left: 7px;
}

.featurette-heading {font-size:27px;}



.effect-3 a:before,
.effect-3 a:after {
	content: "";
	height: 1px;
	width: 0;
	opacity: 0;
	background-color: #fff;
	position: absolute;
	transition: all .5s;
}

.effect-3 a:before {
	top: -3px;
}

.effect-3 a:after {
	bottom: -3px;
	right: 0;
}

.effect-3 a:hover:before,
.effect-3 a:hover:after {
	width: calc(80% + 20px);
	opacity: 0.7;
}



.main {
  width: 100%;
  min-height: 380px;
  text-align: center;
  position: relative;
  cursor: pointer;
}

.service {
background-color: #8f2e8e;


  padding: 30px;
  height:288px;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  z-index: 1;
  box-shadow: 0 0 20px -15px #030380;
  transition: transform .8s;
}

/* Mengatur posisi logo service */
.service-logo {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin: -90px auto 0;
  background: #fff;
  border: 10px solid #ffcc21;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Membuat border title */
.service h4 {
  height: 35px;
  width: 80%;
  margin: 31px auto;
color:#fff;
  position: relative;
}

.service h4::after,
.service h4::before {
  content: '';
  width: 40px;
  height: 30px;
 position: absolute;
 z-index: -1;
}

.service h4::after {

  right: -5px;
  top: -5px;height: 6px;
}

.service h4::before {
 
    left: -5px;
    bottom: -5px;
    height: 6px;
}


/* membuat shadow untuk service */
.main::after {
  content: '';
  height: 200px;
  width: 80%;
  background: #fff;
  position: absolute;
  border-radius: 10px;
  bottom: 0;
  left: 10%;
  z-index: -1;
  box-shadow: 0 0 20px -15px #030380;
  transition: transform .8s;
}
.main::before {
  content: '';
  height: 200px;
  width: 64%;
  background: #fff;
  position: absolute;
  border-radius: 10px;
  bottom: 0;
  left: 18%;
  z-index: -2;
}

.main:hover .service {
  transform: translateY(-50px);
}

.main:hover::after {
  transform: translateY(-25px);
}

.service-logo img {
  transition: transform 1s;
}

.main:hover .service-logo img {
  transform: rotate(360deg);
}

.uj{font-size:14px;}

.product-card{ background-color: #a4508b;
background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
}

.containers {
  max-width: 980px;
  padding: 0 32px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100%;
  transform: perspective(60px);
  transform-style: preserve-3d;
}
.product-card {
  max-width: 400px;height:350px;
}
.product-card img {
  width: 150px;height:150px;   
    padding: 10px;
}
.product-card:nth-child(1) {
  transform: translate3d(0, 0, -15px);
  animation-name: rotate-left;
  animation-duration: 14s;
  animation-iteration-count: infinite;
  animation-delay: 0.5s;
  animation-timing-function: ease-in-out;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, .2));
}
.product-card:nth-child(2) {
  transform: translate3d(0, 0, 5px);
  animation-name: rotate-center;
  animation-duration: 14s;
  animation-iteration-count: infinite;
  animation-delay: 0.5s;
  animation-timing-function: ease-in-out;
  filter: drop-shadow(4px 10px 10px rgba(0, 0, 0, .6));
}
.product-card:nth-child(3) {
  transform: translate3d(0, 0, -15px);
  animation-name: rotate-right;
  animation-duration: 14s;
  animation-iteration-count: infinite;
  animation-delay: 0.5s;
  animation-timing-function: ease-in-out;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, .2));
}
@keyframes rotate-left {
  0%, 100% {
    transform: translate3d(0, 0, -15px);
    filter: blur(0.8px) drop-shadow(4px 4px 4px rgba(0, 0, 0, .2));
  }
  33.33% {
    transform: translate3d(100%, 0, 5px);
    filter: blur(0) drop-shadow(4px 10px 10px rgba(0, 0, 0, .6));
  }
  66.66% {
    transform: translate3d(200%, 0, -15px);
    filter: blur(0.8px) drop-shadow(4px 4px 4px rgba(0, 0, 0, .2));
  }
}
@keyframes rotate-center {
  0%, 100% {
    transform: translate3d(0, 0, 5px);
    filter: blur(0) drop-shadow(4px 10px 10px rgba(0, 0, 0, .6));
  }
  33.33% {
    transform: translate3d(100%, 0, -15px);
    filter: blur(0.8px) drop-shadow(4px 4px 4px rgba(0, 0, 0, .2));
  }
  66.66% {
    transform: translate3d(-100%, 0, -15px);
    filter: blur(0.8px) drop-shadow(4px 4px 4px rgba(0, 0, 0, .2));
  }
}
@keyframes rotate-right {
  0%, 100% {
    transform: translate3d(0, 0, -15px);
    filter: blur(0.8px) drop-shadow(4px 4px 4px rgba(0, 0, 0, .2));
  }
  33.33% {
    transform: translate3d(-200%, 0, -15px);
    filter: blur(0.8px) drop-shadow(4px 4px 4px rgba(0, 0, 0, .2));
  }
  66.66% {
    transform: translate3d(-100%, 0, 5px);
    filter: blur(0) drop-shadow(4px 10px 10px rgba(0, 0, 0, .6));
  }
}
@media (max-width: 480px) {
  .container {
    flex-direction: column;
  }
  .product-card:nth-child(1) {
    transform: translate3d(0, 0, -15px);
  }
  .product-card:nth-child(2) {
    transform: translate3d(0, 0, 0);
  }
  .product-card:nth-child(3) {
    transform: translate3d(0, 0, -15px);
  }
  @keyframes rotate-left {
    0%, 100% {
      transform: translate3d(0, 0, -15px);
      filter: blur(0.8px) drop-shadow(4px 4px 4px rgba(0, 0, 0, .2));
    }
    33.33% {
      transform: translate3d(0, 100%, 5px);
      filter: blur(0) drop-shadow(4px 10px 10px rgba(0, 0, 0, .6));
    }
    66.66% {
      transform: translate3d(0, 200%, -15px);
      filter: blur(0.8px) drop-shadow(4px 4px 4px rgba(0, 0, 0, .2));
    }
  }
  @keyframes rotate-center {
    0%, 100% {
      transform: translate3d(0, 0, 5px);
      filter: blur(0) drop-shadow(4px 10px 10px rgba(0, 0, 0, .6));
    }
    33.33% {
      transform: translate3d(0, 100%, -15px);
      filter: blur(0.8px) drop-shadow(4px 4px 4px rgba(0, 0, 0, .2));
    }
    66.66% {
      transform: translate3d(0, -100%, -15px);
      filter: blur(0.8px) drop-shadow(4px 4px 4px rgba(0, 0, 0, .2));
    }
  }
  @keyframes rotate-right {
    0%, 100% {
      transform: translate3d(0, 0, -15px);
      filter: blur(0.8px) drop-shadow(4px 4px 4px rgba(0, 0, 0, .2));
    }
    33.33% {
      transform: translate3d(0, -200%, -15px);
      filter: blur(0.8px) drop-shadow(4px 4px 4px rgba(0, 0, 0, .2));
    }
    66.66% {
      transform: translate3d(0, -100%, 5px);
      filter: blur(0) drop-shadow(4px 10px 10px rgba(0, 0, 0, .6));
    }
  }
}

.color{color:#ffcc21;margin-left:5px;}


@media only screen and (max-width: 600px) {
#hero {
    width: 100%;
    background-position: center center;
    position: relative;
height: 172px;}



.my{position: relative;
    /* left: -385px; */
  
    display: block!important;
grid-gap: 17px;}




.section-title p {
    margin: 0;
    margin: 0;
font-size: 18px;}

.containers {
    max-width: 980px;
    padding: 0 32px;
    box-sizing: border-box;
display: inline-table;}

.sec-img {
    width: 350px;
height: 276px;    margin-left: -8px;
}


.containers {
    max-width: 980px;
    /* margin-top: -330px; */
    position: relative;
    padding: 0 32px;
    box-sizing: border-box;
    display: inline-table;
top: -128px;}


}


.view{
margin-bottom: -252px;}


}



serviceBox{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.serviceBox .service-icon{
    color: #fff;
    background: linear-gradient(135deg,#FF87D0,#F6449A);
    font-size: 50px;
    line-height: 80px;
    height: 80px;
    width: 80px;
    margin: 0 auto 25px;
    border-radius: 15px;
    box-shadow: 0 0 0 5px #fff,0 0 12px rgba(0,0,0,0.5);
}
.serviceBox .service-icon i.fa{ transition: all 0.3s ease 0s; }
.serviceBox:hover .service-icon i.fa{
    text-shadow: 0 0 5px #555;
    transform: rotateY(360deg) rotateX(360deg);
}
.serviceBox .service-content{
    background-color: #fff!important;
    padding: 10px 13px 15px;
    border-radius: 10px;
    box-shadow: 0 0 15px -5px rgba(0,0,0,0.5)!important;
}
.serviceBox .title{
    color: #fff;
      background: linear-gradient(
135deg,#ffcc21,#F6449A);
 
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 7px 15px;
    margin: -21px 7px 15px;
    border-radius: 0 0 25px 25px;
    position: relative;
    z-index: 1;
}
.serviceBox .title:before,
.serviceBox .title:after{
    content: "";
    background: linear-gradient(-45deg,#9F2685 49%,transparent 50%);
    width: 12px;
    height: 10px;
    position: absolute;
    top: 0;
    left: -12px;
}
.serviceBox .title:after{
    transform: rotateY(180deg);
    left: auto;
    right: -12px;
}
.serviceBox .description{
    color: #777;
    font-size: 15px;
    line-height: 25px;
    margin: 0;
}
.serviceBox.blue .service-icon,
.serviceBox.blue .title{
    background: linear-gradient(135deg,#01B9F7,#008ED0);
}
.serviceBox.blue .title:before,
.serviceBox.blue .title:after{
    background: linear-gradient(-45deg,#004B8E 49%,transparent 50%);
}
.serviceBox.orange .service-icon,
.serviceBox.orange .title{
    background: linear-gradient(135deg,#FFC500,#FE9B00);
}
.serviceBox.orange .title:before,
.serviceBox.orange .title:after{
    background: linear-gradient(-45deg,#DA6603 49%,transparent 50%);
}
.serviceBox.green .service-icon,
.serviceBox.green .title{
    background: linear-gradient(135deg,#04DDCA,#2DB0A8);
}
.serviceBox.green .title:before,
.serviceBox.green .title:after{
    background: linear-gradient(-45deg,#046b5f 49%,transparent 50%);
}
@media only screen and (max-width:990px){
    .serviceBox{ margin: 0 0 40px; }
}




@media only screen and (max-width: 600px) {
    

.main-btn {
    display: flex;
    position: relative;
    left: -117px;
    grid-gap: 20px;
}

.btn {
    color: #000;
    background-color: rgb(255, 204, 33);
    line-height: 5px;
    font-size: 15px;
    font-weight: 600;
    width: 95px;
    height: 33px;
    letter-spacing: 1px;
    padding: 13px 25px;
    border: none;
    border-radius: 17px;
    overflow: hidden;
    position: relative;
transition: all 0.5s;}


.mobile-nav-toggle {
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    position: relative!important;
    display: block !important;
    line-height: 0;
    transition: 0.5s;
    top: -135px!important;
left: 306px!important;}

.section-title p {
    margin: 0;
    margin: 0;
    margin-bottom: -34px;
    font-size: 23px;
}
.cta {
    height: 100%;
    height: 352px;
    background-image: url(https://ujjawaldhwaj.000webhostapp.com/backg.jpg);
padding: 80px 0;}

.social-links {
    margin-left: 300px;
display: contents;}

.serviceBox {
    margin: 0 0 40px;
margin-top: 24px;}

#footer .footer-newsletter {
    font-size: 15px;
    margin-left: -21px;
}

.section-title p {
    margin: 0;
    margin: 0;
    margin-bottom: -34px;
    font-size: 18px;
}

#header .logo h1 {
    font-size: 15px;
    margin: 0;
    padding: 0;
    position: relative;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 1px;
    /* left: 997px; */
    left: -55px;
top: 99px;}

.btn {
    color: #000;
    background-color: rgb(255, 204, 33);
    line-height: 5px;
    font-size: 15px;
    font-weight: 600;
    width: 91px;
    height: 31px;
    letter-spacing: 1px;
padding: 13px 20px;}

.my{position: relative!important;
    /* left: -200px; */
  left: 100px!important;
    top: -169px!important;
}
.navbar-mobile .mobile-nav-toggle {
    position: absolute!important;
    top: 20px!important;
    right: 15px!important;
}


}


